h1, h2, h3, h4, h5, h6{
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, div, footer, form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  background-color: #ffffff;
  border-color: #cccccc;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid #cccccc;
}

h1 {
  font-size: 40px;
  color: white;
  background-color: #4aaaa5;
  width: 200px;
  height: 30px;
  float: left;
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  margin-top: 10px;
  margin-right: 100px;
}

footer {
  position: fixed;
  width: 100%;
  height:25px;
  bottom: 0;
  font-size: 10px;
  color: #C8C4B6;
  background-color: #666666;
  border-top: 7.5px solid #4aaaa5;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  margin-top: 10px;
}

.indexPosition {
  position: relative;
  color: #777777;
  top: 50%;
  right: 17%;
}

/*.marginAndFloatFix1 {
  float: right;
  margin-left: 10px;
}*/

.contactFix {
  float: right;
  margin-left: 10px;
}


/*.marginAndFloatFix2 {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}*/

.aboutFix {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

/*.indexBorderAndFloatFix {
  float: right;
  border-left: 1.5px solid #F2F2F2;
  border-right: 1.5px solid #F2F2F2;
  padding-left: 10px;
  padding-right: 10px;
}*/

.portfolioFix {
  float: right;
  border-left: 1.5px solid #F2F2F2;
  border-right: 1.5px solid #F2F2F2;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  position: absolute;
  top: 100px;
  float: left;
  margin-left: 10%;
  width: 960px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.infoContainer {
  position: absolute;
  background-color: #ffffff;
  border-color: #dddddd;
  width: 590px;
  padding: 30px;
  border-width: 1px;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  float: left;
  color: #4aaaa5;
  border-bottom: 1.5px solid #F2F2F2;
  width: 600px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.profileSocial {
  background-color: #ffffff;
  border-color: #dddddd;
  float: right;
  padding: 20px;
  width: 230px;
  height: 170px;
}

.socialHeading {
  font-size: 20px;
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: 1.5px solid #F2F2F2;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 230px;
  text-align: center;
}

.icons {
  margin: 10px;
}

.indivIcon {
  padding: 2.5px;
}

/*Below are Profile Page specific*/
.profilePic {
  float: left;
  height: 200px;
  width: auto;
  margin-right: 25px;
}

.profileIntro {
  color: #777777;
  line-height: 25px;
  text-indent: 25px;
}

/*Below are Portfolio Page Specific*/

.portfolioContainer {
  position: relative;
  width: 590px;
}

.portfolioPic1 {
  position: relative;
  float: left;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPic2 {
  position: relative;
  float: right;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPic3 {
  position: relative;
  float: left;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPic4 {
  position: relative;
  float: right;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPicDescription{
  position: absolute;
  bottom: 10px;
  background-color: #4aaaa5;
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
}

/*Below are Contact Page Specific*/

form {
  color: #919192;
  line-height: 25px;
  font-size: 20px;
  width: 100%;
}

input {
  color: #CABFB5;
  padding: 5px;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}

textarea {
  margin-top: 2px;
}

.button {
  background: #4aaaa5;
  color: #DEF7FB;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}






















