h1, h2, h3, h4, h5, h6, .NavHeaderName {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, div, footer, form {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.NavHeaderBar {
  background-color: #ffffff;
  border-color: #cccccc;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #cccccc;
}

.NavHeaderName {
  font-size: 30px;
  color: white;
  background-color: #4aaaa5;
  padding: 16.5px;
  text-align: center;
  margin-left: 10%;
}

footer {
  position: fixed;
  font-size: 10px;
  color: #C8C4B6;
  background-color: #666666;
  border-top: 7.5px solid #4aaaa5;
  text-align: center;
  line-height: 60px;
  padding: 10px;
  margin-top: 10px;
}

.indexPosition {
  position: relative;
  color: #777777;
  top: 50%;
  right: 17%;
}

.contactFix {
  float: right;
  margin-left: 10px;
}

.aboutFix {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.portfolioFix {
  border-left: 1.5px solid #F2F2F2;
  border-right: 1.5px solid #F2F2F2;
}

.content {
  position: absolute;
  top: 100px;
  float: left;
  margin-left: 10%;
  width: 960px;
  margin-right: 10%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.infoContainer {
  position: absolute;
  background-color: #ffffff;
  border-color: #dddddd;
  width: 590px;
  padding: 30px;
  border-width: 1px;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  float: left;
  color: #4aaaa5;
  border-bottom: 1.5px solid #F2F2F2;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.socialHeading {
  font-size: 20px;
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: 1.5px solid #F2F2F2;
  padding-bottom: 20px;
  text-align: left;
}

.icons {
  margin: 10px;
}

.indivIcon {
  padding: 2.5px;
}

/*Below are Profile Page specific*/
.profilePic {
  float: left;
  width: 30%;
  margin: 20px;
}

.profileIntro {
  color: #777777;
  line-height: 25px;
  text-indent: 25px;
}

/*Below are Portfolio Page Specific*/

.portfolioContainer {
  position: relative;
  width: 590px;
}

.portfolioPic1 {
  position: relative;
  float: left;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPic2 {
  position: relative;
  float: right;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPic3 {
  position: relative;
  float: left;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPic4 {
  position: relative;
  float: right;
  margin: 20px;
  width: 220px;
  height: 220px;
}

.portfolioPicDescription{
  position: absolute;
  bottom: 10px;
  background-color: #4aaaa5;
  width: 86%;
  text-align: center;
  line-height: 50px;
  color: white;
}

/*Below are Contact Page Specific*/

form {
  color: #919192;
  line-height: 25px;
  font-size: 20px;
  width: auto;
}

input {
  color: #CABFB5;
  padding: 5px;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 575px;
}

textarea {
  margin-top: 2px;
  width: 580px;
  height: 200px;
}

.button {
  background: #4aaaa5;
  color: #DEF7FB;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  width: 150px;
}

/*Below are Media Queries*/

@media only screen and (max-width: 980px) {
  .content {
    width: 960px;
  }
  .infoContainer {
    width: 400px;
  }
  .portfolioContainer {
    width: 100%;
  }
  .portfolioPic2 {
    float: left;
  }
  .portfolioPic4 {
    float: left;
  }
  .profileSocial {
    width: 225px;
    margin-right: 22%;
  }
  input {
    width: 385px;
  }
  textarea {
    width: 390px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 750px;
  }
  .infoContainer {
    position: static;
    width: 600px;
  }
  .profileSocial {
    position: static;
    float: left;
    margin-top: 30px;
    width: 620px;
    margin-bottom: 80px;
  }
  .socialHeading {
    width: 100%;
    text-align: left;
  }
  input {
    width: 585px;
  }
  textarea {
    width: 590px;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    width: 100%;
    margin: 0px;
    font-size: 20px;
    padding: 10px;
  }
  .indexPosition {
    position: static;
  }
  .contactFix {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15%;
  }
  .aboutFix {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    margin-left: 15%;
  }
  .portfolioFix {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20%;
    margin-left: 10%;
  }
  .content {
    width: 620px;
    position: static;
  }
  .infoContainer {
    position: static;
    width: 430px;
  }
  .profilePic {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .profileSocial {
    position: static;
    float: left;
    margin-top: 30px;
    width: 450px;
    margin-bottom: 80px;
  }
  .socialHeading {
    width: 100%;
    text-align: left;
  }
  header {
    position: static;
  }
  input {
    width: 415px;
  }
  textarea {
    width: 420px;
  }
}






















